<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Leaderboard</title>

      <link rel="stylesheet" href="/leaderboard.css">
      <link rel="stylesheet" href="/navbar.css">
      <link rel="stylesheet" href="/weather.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet">
</head>

<body>
      <%- include('partials/navbar') %>


            <div class="container mt-4">

                  <div class="table">

                        <table class="table-style">

                              <thead>
                                    <tr>
                                          <th>Username</th>
                                          <th>Level</th>
                                          <th>Streak</th>
                                          <th>Profile Link</th>
                                          <th>

                                                <label for="">Sort by:</label>

                                                <select name="" id="">
                                                      <option value="ascending level">ascending level</option>
                                                      <option value="descending level">descending level</option>
                                                      <option value="ascending streak">ascending streak</option>
                                                      <option value="descending streak">descending streak</option>
                                                </select>

                                          </th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <% usersList.forEach(user=> { %>
                                          <tr>
                                                <td>
                                                      <%= user.name %>
                                                </td>

                                                <td>
                                                      <%= user.level %>
                                                </td>
                                                <td>
                                                      <%= user.streak %>
                                                </td>
                                                <td>
                                                      <a href="/profile/<%= user._id %>" class="profile_btn"> View
                                                            User's Profile</a>

                                                </td>
                                          </tr>
                                          <% }) %>
                              </tbody>

                        </table>
                  </div>
            </div>



            <div class="container mt-4">
                  <ul class="pagination justify-content-center">
                        <% if (hasPrevPage) { %>
                              <li class="page-item">
                                    <a class="page-link" href="/leaderboard?page=<%= currentPage - 1 %>">Back</a>
                              </li>
                              <% } %>

                                    <% if (hasNextPage) { %>
                                          <li class="page-item">
                                                <a class="page-link"
                                                      href="/leaderboard?page=<%= currentPage + 1 %>">Next</a>
                                          </li>
                                          <% } %>
                  </ul>
            </div>


</body>

</html>